<h1>New Fabric Upload</h1>


<% if @errors != nil %> 
    <p>Please fix the following errors:</p>
    <% @fabric.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for :fabric, :html => {:multipart => true}, url: fabrics_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

    <p>
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </p>

<p>
  <%= f.label :length %>:
  <span id="slider_display"></span>
  <%= f.text_field :length, :id => 'amount', :class => 'slider' %>
  <div id="slider"></div>
</p>

<p>
  <%= f.select(:width, options_for_select([45, 60])) %>
</p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </p>

  <h2>Upload an image of your fabric, or skip this step for now</h2>
  <p>
    <%= f.file_field :swatch %>
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

 <script>
   $(function() {
    $( "#slider" ).slider({
      value: 0,
      min: .125,
      max: 10,
      step: .125,
      slide: function( event, ui ) {
        yardage = decToEighths(ui.value)
        $("#slider_display").html(yardage)
        $( "#amount" ).val(ui.value);;
      }
    });
    $( "#amount" ).val($( "#slider" ).slider( "value" ) );
  });

   function decToEighths(value) {
      var testHash = { 0: [''], .125: ['1/8'], .25: ['1/4'], .375: ['3/8'], .5: ['1/2'], .625: ['5/8'], .75: ['3/4'], .875: ['7/8']};
    if (value < 1) {
      console.log(testHash[value]);
      return testHash[value];
    } else {
      var wholeYards = Math.floor(value)
      var partialYardsDec = value - Math.floor(value)
      var partialYards = testHash[partialYardsDec]
      var yardage = wholeYards + " " + partialYards
      console.log("Yardage: " + yardage)
      return yardage
    }   
   }
// lengthSlider()

 </script>
}





