<h1>Individual Fabric Page, id <%= @fabric.id %></h1>
<p>
  <strong>Name:</strong>
  <%= @fabric.name %>
</p>
 
<p>
  <strong>Color:</strong>
  <%= @fabric.color %>
</p>

<p>
  <strong>Length:</strong>
    <strong>yardage:</strong>
    <%= @yardage %>


</p>

<p>
  <strong>Width:</strong>
  <%= @fabric.width.to_s << " \"" %>
</p>

<p>
  <strong>Price:</strong>
  <% if @fabric.price != nil %>
    $<%= @fabric.price %>
  <% else %> 
    no price given
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @fabric.content %>
</p>

<p>
  <strong>Source:</strong>
  <%= @fabric.source %>
</p>

<p>
  <%= image_tag @fabric.swatch_url.to_s %>
</p>

<%= link_to "delete", fabric_path(@fabric), method: :delete, data: {confirm: "Really delete this swatch?"} %>
<br>
<%= link_to "back to viewing all fabrics", fabrics_path %>

<p>Date: <input type="text" id="datepicker"></p>

 <script>
      console.log("anus")
      $(function() {
        $( "#datepicker" ).datepicker();
       });
  </script>


 