<h1>Individual Fabric Page, id <%= @fabric.id %></h1>
<p>
  <strong>Name:</strong>
  <%= @fabric.name %>
</p>
 
<p>
  <strong>Color:</strong>
  <%= @fabric.color %>
</p>

<p>
  <strong>Length:</strong>
  <%= @fabric.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @fabric.width %>
</p>

<p>
  <strong>Price:</strong>
  <% if @fabric.price != nil %>
    $<%= @fabric.price %>
  <% else %> 
    no price given
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @fabric.content %>
</p>

<p>
  <strong>Source:</strong>
  <%= @fabric.source %>
</p>

<p>
<% if @fabric.swatch != nil %>
    <%= image_tag @fabric.swatch_url.to_s %>
  <% else %> 
    <%= image_tag("default_swatch.jpg", alt: "default") %>
    <% end %>
</p>


 