<h1>Individual User Page, id <%= @user.id %></h1>

<p>
  <strong>Name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Admin?</strong>
  <% if @user.admin == true %>
 	 <p>yes</p>
  <% else %>
  	<p>no</p>
  <% end %>
</p>

<p>
  <%= image_tag @user.avatar_url(:thumb).to_s %>
</p>

<h3>Newest Fabrics:</h3>
<ul>
<% @user.fabrics.each do |fabric| %>
<li><%= image_tag fabric.swatch_url(:thumb).to_s %></li>
<% end %>
</ul>



<%= link_to "edit", edit_user_path(@user) %>
<br>
<%= link_to "delete account", user_path(@user), method: :delete, data: {confirm: "Really delete account?"} %>
<br>





