<h1>Individual User Page, id <%= @user.id %></h1>
<p>
  <strong>Name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <%= image_tag @user.avatar_url(:thumb).to_s %>
</p>


<%= link_to "edit", edit_user_path(@user) %>
<br>
<%= link_to "delete my account", user_path(@user), method: :delete, data: {confirm: "Really delete your account?"} %>


