<!DOCTYPE html>
<html>
<head>
  <title>Stashbuster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>

<% if current_user %>
  Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<% if current_user && current_user.admin == true %>
   | <%= link_to 'Admin Page', '/admin/users' %>
<% end %>





<%= yield %>

</body>
</html>
