<!DOCTYPE html>
<html>
<head>
   <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>   
</head>
<body>

<p class="flash"><%= flash.notice %></p>

<%= render partial: '/shared/loginModal' %>
<%= render partial: '/shared/signupModal' %>

<% if current_user %>
  Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
<% else %>
<div class="btn-group inline">
 <button id="anus" class="btn btn-link" data-toggle="modal" data-target="#loginModal" %>
    Login</button>
 <button class="btn btn-link" data-toggle="modal" data-target="#signupModal" %>
    Sign Up
  </button>
</div>
<% end %>

<% if current_user && current_user.admin == true %>
   | <%= link_to 'Admin Page', '/admin/users' %>
<% end %>



<%= yield %>

</body>
</html>
